# Ignore environment variables
.env

# Logs
logs/
*.log

# Node modules
node_modules/

# Build files
dist/
build/

# Operating system files
.DS_Store

# Other
.idea/
.vscode/
*.test.js
src/microservices/verify_product/uploads/